@font-face {
  font-family: segoe-bold;
  src: url(../static/fonts/SegoeUI-SemiBold.ttf);
}

.segoe-bold {
  font-family: segoe-bold;
}

@font-face {
  font-family: segoe-boldbold;
  src: url(../static/fonts/SegoeUI-Bold.ttf);
}

.segoe-boldbold {
  font-family: segoe-boldbold;
}
