@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* @apply bg-black; */
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #777; */
  background-color: #f8f8f8;
}

.bgg {
  /* background-color: red; */
}

/* :global(.bgg) { */
/*   background-color: red; */
/* } */
